{% extends "base.html" %}

{% block title %}Calendrier{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Calendrier des gardes</h5>
                </div>
                <div class="card-body">
                    <div id="calendar">
                        <!-- Le calendrier sera intégré ici plus tard -->
                        <p class="text-center">Le calendrier sera bientôt disponible</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}